* {
  font: 14px RobotoRegular;
  color: #000;
}
.input-with-button {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px 0;
}

@media all and (min-width:750px) {
  .app {
    width: 70%;
    margin: auto;
    padding: 10px;
  }
}