.categories {
  padding: 0;
  margin: 0 0 0 5px;
  list-style-type: none;
  overflow-y: auto;
}

.categories:hover .link {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

@media all and (max-width:1106px) {
  .categories {
    margin-right: 0;
  }
}