.category {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  > * {
    display: inherit;
    margin-right: 5px;
  } 
}
.category:hover {
  color: #555;
  background-color: #f5f5f5;
  a {
    text-decoration: none;
  }
}
.children {  
  list-style-type: none;
}
.icon{
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px;
    height: 13px;
}
.title-category {
  margin: 0;
  display: block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
}
.edit-input {
  display: block;
  border:0;
  padding: 5px;
  outline-color: transparent;
}
.none {  
  display: none;
}