.to-do-item {
  display: flex;
  justify-content: space-between;  
  margin: 0 10px;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.icon {
  margin: auto 0;
  margin-left: 5px;
  font-size: 10px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px;
}
.do-elem-content {
  margin: 0;
  display: block;
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input[type=checkbox] {
  margin: auto;
}
